In [43]:
# 주석 (ctrl + /)
# 실행이 되지 않는 부분
# 코드에 대한 설명을 쓰는 부분

# 변수 생성
a = 10
b = "test"
# 변수 출력
print(a)
print(b)

10
test

In [44]:
# 변수의 타입을 확인
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [45]:
# bool형태의 데이터

a = True
print(a)
print(type(a))

True
<class 'bool'>

In [46]:
# 산술연산자
a = 7
b = 3

print(a+b, a-b, a*b, a/b, a//b, a%b, a**b)

10 4 21 2.3333333333333335 2 1 343

In [47]:
# 산술연산자의 우선순위
a = 7
b = 3 
c = 2

print(a+b/c)
print((a+b)/c)

8.5
5.0

In [48]:
# 대입연산자
a = 7
print(a+3) #10
print(a)   #7
a += 3     #a = a + 3     
print(a)   #10

10
7
10

In [49]:
### 조건문
#조건식을 기준으로 참인 경우 실행 할 코드와 거짓인 경우 실행 할 코드를 작성

In [50]:
# 조건문 (if문)
x = 12

if x < 10:
    print('x는 10보다 작다')

In [51]:
# if ~ else 문
if x < 10:
    print('x는 10보다 작다')
else:
    print("x는 10보다 크거나 같다")

x는 10보다 크거나 같다

In [52]:
# 조건식이 여러개인 경우
# input() 함수는 유저가 입력할 수 있는 창을 새로 만들어서 입력값을 받아오는 함수
# int()함수는 데이터를 정수형 데이터로 변환
score = int(input('점수를 입력하시오 :'))

if score >=90:
    print('A')
elif score >=80:
    print('B')
elif score >=70:
    print('C')
elif score >=60:
    print('D')
else :
    print('F')

print('프로그램 종료')

F
프로그램 종료

In [53]:
### 반복문
# for 문
# 자료형 데이터의 개수만큼 반복 실행
# while 문
# 해당한느 조건식이 거짓일때까지 반복 실행
#

### 반복문
# for 문
# 자료형 데이터의 개수만큼 반복 실행
# while 문
# 해당한느 조건식이 거짓일때까지 반복 실행

In [54]:
range(0. 5)
[0, 1, 2, 3, 4]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (231239731.py, line 1)

In [ ]:
for i in range(0, 5, 1):
    print(1)

In [ ]:
list_a = [1,5,9,11]

for i in list_a:
    print(i)

In [ ]:
# 리스트의 길이를 출력하는 함수 : len()
for i in range(0, len(list_a), 1):
    print(list_a[i])

In [ ]:
#1부터 10까지의 합계를 반복문을 이용하여 계산

#합계라는 변수를 초기값을 대입하여 변수 생성
result = 0


for i in range(1, 11, 1):
    result += i
    # result = result + i
print(result)

In [ ]:
# 다중 for문 
for i in range(0, 5, 1):
    for j in range(0, 5, 1):
        print(i, j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

In [ ]:
for i in range(2, 3, 1):
    print(i, '단 시작')
    for j in range(1, 10, 1):
         print(i, 'X', j, '=', i*j)
    print(i, '단 종료')

2 단 시작
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 단 종료

In [ ]:
## 반복문 예제문제
1. 1부터 50까지의 숫자 중 3의 배수의 합계를 구하시오. 
- 합계라는 초기 값을 지정(0)
- for문을 이용하여 1부터 50까지 반복을 하는 반복문 생성
- 1부터 50까지의 합계
- 조건식을 이용하여 3의 배수인 경우에만 합계에 더해질 수 있도록 조건문 생성

2. 두 개의 주사위의 합이 5 이상인 경우를 출력하시오.
- 첫 번째 반복문에서 첫 번째 주사위의 경우의 수를 반복문으로 생성
- 두 번째 반복문에서는 두 번째 주사위의 경우의 수를 반복문으로 생성
- 2개의 주사위의 합이 5보다 크다는 조건식 생성
- 조건식이 참인 경우의 두 주사위의 숫자를 출력

In [58]:
result = 0


for i in range(1, 51, 1):
    result += i
print(result)

1275

In [ ]:
for i in range(1, 7, 1):
    for j in range(1, 7, 1):

In [59]:
#합계라는 초기 변수를 생성

result = 0

for i in range(1, 51, 1):
    #조건식 3의 배수인 경우
    if i % 3 == 0:
        result += i
print(result)

408

In [60]:
result = 0
for i in range(0, 51, 3):
    result += i
print(result)

408

In [61]:
for i in range(1, 7, 1):
    for j in range(1, 7, 1):
        # 두 주사위의 합이 5이상인 경우
        if i + j >= 5:
            # 주사위를 출력한다
            print(i, j)

1 4
1 5
1 6
2 3
2 4
2 5
2 6
3 2
3 3
3 4
3 5
3 6
4 1
4 2
4 3
4 4
4 5
4 6
5 1
5 2
5 3
5 4
5 5
5 6
6 1
6 2
6 3
6 4
6 5
6 6

In [63]:
#while 문

# 초기값을 생성
i = 0
# while 조건식
while i < 10 :
   
    i += 1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [67]:
# while문을 잉효아ㅕ 1부터 10까지의 합계

result = 0
i = 1

while i <= 10:
    result += i

    i += 1
    

print(result)

55

In [68]:
# break 구문
# 반복문을 강제로 종료
for i in range(1, 101, 1):
    if i ==5:
        break
    print(i)

1
2
3
4

In [69]:
# cintinue구문
# 반복문으로 돌아간다.

for i in range(1, 10, 1):
    if i <3:
        continue
    print(i)

3
4
5
6
7
8
9

In [ ]:
### 예제 문제
= 반목문을 이용하여 1부터 100까지의 합계를 구하는데, 합계가 1200이 넘어가는 순간의 i 값과 합계를 출력하시오.
- 합계라는 초기값을 지정
-1 부터 100까지 반복을 하는 반복문 생성
- 합계 변수에 반복문의 i값을 누적함
- 누적합이 1200보다 크면 반복문을 종료
- i의 값과 합계의 값을 출력

In [79]:
result = 0

for i in range(1, 101, 1):
    result += i
    if result > 1200:
        break

print(f"1부터 100까지의 합계중 합계의 값이 1200보다 큰 경우는 {i}까지의 합이고 합계의 값은 {result}이다")

1부터 100까지의 합계중 합계의 값이 1200보다 큰 경우는 49까지의 합이고 합계의 값은 1225이다

In [82]:
# while문

result = 0

i = 1

while i <= 100:
    result += i
    if result > 1200 :
        break
    i +=1
print(i, result)

49 1225

### 자료형 데이터
1. 튜플
    - 자료형 데이터에서 가장 기본적인 형태의 데이터
    - ()로 묶어서 데이터 생성
    - 각 원소들을 수정&삭제 불가능
2. 리스트
    - []로 묶어서 데이터 생성
    - 리스트의 내장함수를 이용하여 각 원소들을 수정, 추가, 삭제가 가능
3. 딕셔너리
    - {}로 묶어서 데이터 생성
    - key : value의 형태로 데이터가 생성 
    -각 원소들을 수정, 삭제, 추가 가능

In [1]:
# 튜플
a = (1, 'test')
b = (3, 3.14)

print(a)
print(b)

(1, 'test')
(3, 3.14)

In [3]:
# 튜플들의 합
c = a+b
print(c)

(1, 'test', 3, 3.14)

In [5]:
d = a*3
print(d)

(1, 'test', 1, 'test', 1, 'test')

In [6]:
# 튜플 데이터에서 하나의 원소만 출력
print(a[0])
print(a[1])

1
test

In [7]:
x = (10, 20, 30, 40)

#  2번째에서 4번째 전까지의 데이터를 출력
print(x[1:3])

(20, 30)

In [9]:
# 2번째에서 마지막까지
print(x[1:])
# 처음부터 3번째 전까지
print(x[:2])

(20, 30, 40)
(10, 20)

In [14]:
# 리스트 형태 데이터
a = [20, 10, 50, 30]
b = [10, 20, 30, 40]
print(a)
print(b)
# a의 데이터들을 오름차순 정렬 순서 변경
a.sort()
print(a)

# b의 데이터들은 역순으로 변경
b.reverse()
print(b)

#a를 내림차순 정렬
a.sort(reverse=True)
print(a)

[20, 10, 50, 30]
[10, 20, 30, 40]
[10, 20, 30, 50]
[40, 30, 20, 10]
[50, 30, 20, 10]

In [15]:
# append() : 리스트에 가장 마지막에 새로운 원소를 추가
a.append(80)
print(a)

[50, 30, 20, 10, 80]

In [16]:
# pop() : 리스트에서 가장 마지막 데이터를 삭제
b.pop()
print(b)

[40, 30, 20]

In [17]:
# del - > 특정한 위치의 값을 삭제
del a[1]
print(a)

[50, 20, 10, 80]

In [18]:
# len() 리스트의 길이를 출력하는 함수

print(len(a))
print(len(b))

4
3

In [20]:
# extend(리스트) : 2개의 리스트의 합

a.extend(b)
print(a)

[50, 20, 10, 80, 40, 30, 20, 40, 30, 20]